@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cinzel&family=Koulen&display=swap');

.card-container::-webkit-scrollbar, .chal-container::-webkit-scrollbar, .chal-related::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Koulen' !important;
}

#root {
  height: 100%;
  width: 100vw;
  background-image: url(https://cdn.shopify.com/s/files/1/0274/7429/6892/products/G-34.jpg?v=1584778904);
  background-size: cover;
  background-repeat: no-repeat;
}

.login {
  height: 75vh;
  display: flex;
  place-items: center;
}

.css-1oqqzyl-MuiContainer-root {
  width: fit-content !important;
}

/*        BUTTONS       */
.btn, .btn-primary {
  color: black !important;
  border-color: #7c7c7c !important;
  border-radius: .25rem !important;
background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),

    linear-gradient(180deg, hsl(0,0%,78%)  0%,
    hsl(0,0%,90%) 47%,
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
}

.btn-primary {
  height: 100%;
}

/*        FOOTER        */
.footer {
  color: white;
  height: 20vh;
  width: 100%;
  display: flex;
  place-items: center;
  place-content: center;
  background-color: rgb(33, 37, 41);
}

/*        EXPLORE        */
.home {
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url(https://cdn.shopify.com/s/files/1/0274/7429/6892/products/G-34.jpg?v=1584778904);
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome {
  margin-top: 2vh;
  place-self: center;
}

.search {
  margin-top: 2vh;
  margin-bottom: .5vh;
  place-self: center;
  width: 70vw;
  display: flex;
  height: 5vh;
}

.card-container {
  margin-bottom: 2vh;
  place-self: center;
  display: flex;
  width: 80vw;
  height: 80vh;
  overflow-y: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card  {
  background-color: #1c1c1c;
  color: #f8eeec;
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  margin: 1vw;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
  max-width: 345px;
}

.temp-card {
  height: 25vh;
  width: 30%;
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
  margin: 1vw;
  background-color: #adb3bd;
  text-align: center;
}

/*        MODAL        */
.modal-content {
  height: 70vh;
  width: 50vw;
  background-color: #555a64;
  color: #adb3bd
}

.modal-lg {
  max-width: 50vw;
}

.modal-top-sub {
  display: flex;
}

.modal-footer {
  justify-content: flex-start;
  height: 30%;
}

.modal-body {
  height: 50%;
  width: 100%;
}

/*        PROFILE       */
.profile {
  height: 100vh;
}

.profile-top {
  display: flex;
  margin: 2rem;
}

/* .table {
  width: 15vw !important;
  height: 100% !important;
} */

.follow {
  flex: 1;
}

/*        CHALLENGES        */
.chal {
  color: white;
  height: 150vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url(https://cdn.shopify.com/s/files/1/0274/7429/6892/products/G-34.jpg?v=1584778904);
  background-size: cover;
  background-repeat: no-repeat;
}

.chal-sub {
  flex: 1;
  text-align: center;
}

.chal-top {
  place-self: center;
  display: flex;
  flex-direction: row;
  height: 60vh;
  width: 83vw;
  margin-top: 2rem;
}

.blurb {
  border-style: solid;
  border-radius: 1rem;
  border-width: 1px;
  margin: 1vw;
  max-height: 50vh;
  min-height: 50vh;
  background-color: #adb3bd;
}

.badge-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  border-style: solid;
  border-radius: 1rem;
  border-width: 1px;
  margin: 1vw;
  max-height: 50vh;
  min-height: 50vh;
  place-items: center;
  background-color: #adb3bd;
}

.single-badge {
  flex: 1;
  width: 30%;
}

.table {
  margin: 1vw;
  overflow-y: scroll;
  max-height: 50vh;
  min-height: 50vh;
}

.chal-container {
  place-self: center;
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  place-items: center;
  overflow-y: scroll;
}

.chal-card {
  display: flex;
  margin: 1rem;
  min-height: 20vh;
  max-height: 20vh;
  width: 95%;
}

.chal-main {
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.prize {
  flex: 1;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
  margin: 1rem;
  background-color: #adb3bd;
  background-image: url(https://www.limitlesswalls.com/cdn-cgi/image/width=900,quality=60/http://llw-magento-images-prod.s3.amazonaws.com/catalog/product/a/d/adobe-185400163.jpg);
}

.chal-body {
  flex: 4;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
  margin: 1rem;
  background-color: #adb3bd;
}

.chal-head {
  display: flex;
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
  margin: .5rem;
}

.chal-name {
  flex: 1;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
}

.chal-desc {
  flex: 4;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
}

/*        SINGLE CHALLENGE PAGE       */
.chal-mid {
  display: flex;
  place-self: center;
  place-items: center;
  margin: 2rem;
  width: 80vw;
  height: 40vh;
}

.chal-mid-sub {
  margin-left: 1rem;
  margin-right: 1rem;
  flex: 1;
  height: 100%;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
  background-color: #adb3bd;
}

.chal-related {
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
  margin-bottom: 2vh;
  place-self: center;
  width: 80vw;
  overflow-y: auto;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #555a64;
}

/*        SINGLE ACTIVITY       */
.act-cont {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-self: center;
  height: fit-content;
  width: fit-content;
}

.act-img {
  flex: 8;
  border-style: solid;
  border-radius: 1rem;
  border-width: 1px;
  background-color: #555a64;
  width: 100%;
}

.act-tags {
  flex: 1;
  border-style: solid;
  border-radius: 1rem;
  border-width: 1px;
  background-color: #1c1c1c;
  width: 100%;
}

.description {
  margin-top: 2rem;
  place-self: center;
  border-style: solid;
  border-radius: 1rem;
  border-width: 1px;
  border-color: #1c1c1c;
  background-color: #555a64;
  height: fit-content;
  width: fit-content;
  text-align: center;
  padding: 1rem;
}